---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "posts" }} <i class="nf nf-fa-newspaper_o"></i></h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            {%- if site.show_excerpts -%}
          </a>
          <blockquote style="margin-left: 0em;margin-top: 1em;">
            {{ post.post_description | markdownify | strip_html | truncatewords: 50 }}
            </blockquote>
            {%- endif -%}
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    
  {%- endif -%}

</div>
